@import "../../styles/form/theme";

.formItem {
  display: flex;
  flex-direction: var(--form-flex-flow);
}

.formItemGroup {
  border: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.input {
  border: var(--input-border);
  border-radius: var(--input-border-radius);
  min-height: var(--input-height);
  padding: 0 var(--input-padding);
  width: var(--input-width);
}

.textArea {
  border: var(--input-border);
  border-radius: var(--input-border-radius);
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  min-height: var(--input-height);
  padding: var(--input-padding);
  width: var(--input-width);
}

.input:active,
.input:focus {
  border: var(--input-border-focus);
}

.input:invalid {
  border: var(--input-border-invalid);
}

.label {
  padding: var(--label-padding);
}

.errorMessage {
  color: var(--error-message-colour);
}

.radioOrCheckButtonGroup {
  align-items: var(--radio-group-align);
  display: flex;
  flex-flow: var(--radio-group-flex-flow);
  justify-content: var(--radio-group-justify);
  width: var(--radio-group-width);
}

.radioOrCheckButtonLabel {
  margin: 0;
  padding: 0 var(--input-padding);
}

.tagComponent {
  border: var(--input-border);
  border-radius: var(--input-border-radius);
  box-sizing: border-box;
  padding: var(--input-padding);
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.tags {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: var(--tag-grid-gap);
  margin-right: var(--input-padding);
  width: 100%;
}

.tagInput {
  border: none;
  font-size: inherit;
  height: var(--tag-height);
  outline: none;
  margin: 3px;
  flex-grow: 1;
}

.tag {
  align-items: center;
  background: var(--tag-background);
  border-radius: 2px;
  color: var(--tag-colour);
  display: flex;
  height: var(--tag-height);
  justify-content: space-between;
  overflow: hidden;
  font-size: 85%;
  margin: 3px;
  min-width: 100px;
  white-space: nowrap;
}

.tagText {
  padding: var(--tag-padding);
}

.deleteTagButton {
  align-items: center;
  background: none;
  border: none;
  display: flex;
  height: 100%;
  font-weight: bold;
  padding: var(--tag-padding);

  &:hover {
    background: var(--tag-delete-background);
    color: var(--tag-delete-colour);
  }
}
