:root {
  --ease-1: cubic-bezier(0.16, 1, 0.3, 1);
  --ease-2: cubic-bezier(0.87, 0, 0.13, 1);
  --ease-duration-s: 0.15s;
  --ease-duration-m: 0.3s;
  --ease-duration-l: 0.8s;
  --ease-duration-xl: 1.3s;
}
