:root {
  // Box shadow
  --easing: cubic-bezier(0.77, 0, 0.175, 1);
  --transition: all 1s var(--easing);
  --sh-box-xs: 0 1px 2px 0 rgba(43, 43, 43, 0.14),
    0 0 2px 0 rgba(43, 43, 43, 0.12), 0 1px 1px -1px rgba(43, 43, 43, 0.2);
  --sh-box-l: 0px 10px 38px -10px rgba(22, 23, 24, 0.35),
    0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}
