:root {
  --font-family: "Poppins", "Helvetica Neue", Arial, sans-serif;

  --t-base: 16;

  --fw-bold: 600;
  --fw-medium: 500;
  --fw-normal: 400;
  --fw-light: 300;
  --fw-lighter: 200;

  /** Design token **/
  --t-body-xs: calc(12rem / var(--t-base));
  --t-body-sm: calc(14rem / var(--t-base));
  --t-body-m: 1rem;
  --t-body-l: calc(18rem / var(--t-base));

  --t-heading-xs: calc(18rem / var(--t-base));
  --t-heading-sm: calc(22rem / var(--t-base));
  --t-heading-m: calc(24rem / var(--t-base));
  --t-heading-l: calc(28rem / var(--t-base));
  --t-heading-xl: calc(36rem / var(--t-base));
  --t-heading-xxl: calc(48rem / var(--t-base));

  // Line Height
  --lh-body-xs: calc(22rem / var(--t-base));
  --lh-body-sm: calc(24rem / var(--t-base));
  --lh-body-m: calc(26rem / var(--t-base));
  --lh-body-l: calc(28rem / var(--t-base));

  --lh-heading-xs: calc(28rem / var(--t-base));
  --lh-heading-sm: calc(34rem / var(--t-base));
  --lh-heading-m: calc(36rem / var(--t-base));
  --lh-heading-l: calc(42rem / var(--t-base));
  --lh-heading-xl: calc(54rem / var(--t-base));
  --lh-heading-xxl: calc(68rem / var(--t-base));
}
